<template>
  <v-img v-bind="$attrs" />
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "BaseImage",
  setup() {
    return {};
  },
});
</script>

<style scoped></style>
