<template>
  <v-btn v-bind="$attrs" :style="style">
    <span v-if="!!text" v-text="text" />
    <slot name="content" />
  </v-btn>
</template>

<script lang="ts">
import { defineComponent, computed } from "vue";

export default defineComponent({
  setup(props) {
    const style = computed(() => ({
      backgroundColor: `${props.bgColor}`,
      color: `${props.textColor}`,
    }));
    return { style };
  },
  props: {
    text: {
      type: String,
      default: "",
    },
    bgColor: {
      type: String,
      default: "",
    },
    textColor: {
      type: String,
      default: "",
    },
  },
});
</script>
