<template>
  <v-card class="card" elevation="9">
    <div class="cart-container">
      <div class="left-container" :class="{ isLoading: !cartValues }">
        <div class="d-flex align-center card-title">
          <base-typography
            v-if="cartValues"
            type="title"
            :text="`${cartTitle}`"
          />
        </div>
        <div class="card-content my-2">
          <base-button
            v-if="cartValues"
            class="date"
            width="260"
            variant="tonal"
            :text-color="baseColor"
            :text="`${cartBeginAt} - ${cartEndAt}`"
          />
          <base-typography
            v-if="cartValues"
            class="my-2"
            type="paragraph"
            :text="cartDescription"
          />
          <base-typography
            v-if="cartValues"
            :text="cartAddress"
            type="paragraph"
            icon-src="mdi-map-marker-outline"
            :icon-color="baseColor"
            class="mb-2"
          />
          <base-typography
            v-if="isWebinar"
            text="Disponible en ligne"
            type="paragraph"
            icon-src="mdi-video"
            :icon-color="baseColor"
          />
        </div>
        <div class="d-flex">
          <base-button
            v-if="cartValues"
            id="submit"
            width="150"
            :bg-color="baseColor"
            rounded="pill"
            class="btn"
            @click="onClick(cartUrl)"
          >
            <template #content>
              <base-typography
                class="normal-text"
                color="white"
                text="En savoir plus"
              />
            </template>
          </base-button>
        </div>
      </div>
      <div class="right-container">
        <div v-if="!cartValues" class="isLoading" />

        <base-image v-else cover :src="cartCover" />
      </div>
    </div>
  </v-card>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { Card } from "../types/Card";
import BaseButton from "./BaseButton.vue";
import BaseImage from "./BaseImage.vue";
import BaseTypography from "./BaseTypography.vue";

export default defineComponent({
  name: "BaseCard",
  components: { BaseImage, BaseButton, BaseTypography },
  props: {
    cartValues: {
      type: [Object, null] as PropType<Card>,
      default: () => null,
    },
    baseColor: {
      type: String,
      default: () => "purple",
    },
    cartTitle: {
      type: String,
      default: () => "A la une",
    },
    cartCover: {
      type: String,
      default: () =>
        "https://www.hec.edu/sites/default/files/styles/newsroom_media/public/2022-03/GE_2022_939x495.jpg?itok=fsMLkRJC",
    },
    cartDescription: {
      type: String,
      default: () =>
        "ALUMNI VOICES - POSTPONED Finding an internship during covid 19 outbreak and turning it towards a full-time position with RABIGA Margulan",
    },
    cartBeginAt: {
      type: String,
      default: () => "MON 16 MAR",
    },
    cartEndAt: {
      type: String,
      default: "TUE 17 MAR",
    },
    cartAddress: {
      type: String,
      default: () => "5 Rue Marguerite de Rochechouart, 75009 Paris",
    },
    isWebinar: {
      type: Boolean,
    },
    cartUrl: {
      type: String,
      default: "",
    },
  },
  setup() {
    const onClick = (url: string | undefined) => {
      return open(url);
    };
    return { onClick };
  },
});
</script>

<style lang="scss" scoped>
.card {
  width: 100%;
  display: flex;
  height: 300px;
  @media (max-width: 850px) {
    height: auto;
  }
  .cart-container {
    width: 100%;
    line-height: 16px;
    display: flex;
    @media (max-width: 850px) {
      flex-direction: column;
    }
    .isLoading > div {
      background: #eee;
      width: 100%;
      height: 100%;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
    }

    .left-container {
      width: 35%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 24px;

      @media (max-width: 850px) {
        width: 100%;
        order: 2;
        align-content: center;
      }
      .card-title {
        height: 20%;
        @media (max-width: 850px) {
          justify-content: center;
        }
      }
      .card-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media (max-width: 850px) {
          .date {
            align-self: center;
          }
        }
      }
      .btn {
        margin-top: auto;
        @media (max-width: 850px) {
          margin: auto auto 0px;
        }
        .normal-text {
          text-transform: none;
        }
      }
    }

    .right-container {
      background: #fff;

      width: 65%;
      order: 1;
      display: flex;
      flex-direction: column;
      @media (max-width: 850px) {
        width: 100%;
      }
      .isLoading {
        background: #eee;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          110deg,
          #ececec 8%,
          #f5f5f5 18%,
          #ececec 33%
        );
        border-radius: 5px;
        background-size: 200% 100%;
        animation: 1.5s shine linear infinite;
      }
    }
  }
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
</style>
