<template>
  <div class="d-flex align-center justify-start" v-bind="$attrs">
    <div v-if="!!iconSrc" class="icon">
      <v-icon :icon="iconSrc" :size="iconSize" :color="iconColor" />
    </div>
    <span
      class="text"
      :class="classObject"
      :type="type"
      v-text="text"
      :style="`color:${color} !important`"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from "vue";
import Typography from "../types/Typography";

export default defineComponent({
  name: "BaseTypography",
  setup(props) {
    const classObject = computed(() => ({
      "text-uppercase": props.upperCase,
    }));
    return { classObject };
  },
  props: {
    text: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      default: () => "",
    },
    iconSrc: {
      type: String,
      default: () => "",
    },
    iconSize: {
      type: String,
      default: () => "medium",
      validator: (value: string) => {
        return ["x-large", "large", "medium", "small", "x-small"].includes(
          value
        );
      },
    },
    iconColor: {
      type: String,
      default: () => "dark",
    },
    type: {
      type: String as PropType<Typography>,
      default: () => "paragraph",
      validator: (value: string) => {
        return ["paragraph", "title", "subtitle", "caption"].includes(value);
      },
    },
    upperCase: {
      type: Boolean,
      required: false,
    },
  },
});
</script>

<style lang="scss" scoped>
.text {
  font-family: "Inter";
  font-style: normal;
  line-height: 19px;
  color: #353542;
  text-align: left;
}

span[type="title"] {
  font-weight: 600;
  font-size: 32px;
}
span[type="subtitle"] {
  font-weight: 500;
  font-size: 24px;
}
span[type="paragraph"] {
  font-weight: 400;
  font-size: 16px;
}
span[type="caption"] {
  font-weight: 400;
  font-size: 14px;
  color: gray;
}
.icon {
  width: 30px;
  display: flex;
  justify-content: start;
  align-content: center;
}
</style>
