<template>
  <div class="card-container">
    <base-card
      class="card"
      elevation="6"
      :cart-values="cartValues"
      :cart-title="cartValues?.title"
      :cart-description="cartValues?.description"
      :cart-address="getAdress(cartValues?.embedded?.address)"
      :cart-begin-at="`${getDate(cartValues?.beginAt)}`"
      :cart-end-at="`${getDate(cartValues?.endAt)}`"
      :cart-cover="cartValues?.cover"
      :cart-url="cartValues?.webUrl"
      :is-webinar="cartValues?.isWebinar"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, onBeforeMount, computed } from "vue";
import { useStore } from "vuex";
import { Card, Address } from "../types/Card";

export default defineComponent({
  setup() {
    const store = useStore();
    const initialize = async () => {
      await store.dispatch("getCartValues");
    };
    const getDate = (date: any) => {
      if (!date) return;
      const d = new Date(date);
      const days = d.toString().slice(0, 10).split(" ");
      return `${days[0]} ${days[2]} ${days[1]}`;
    };
    const getAdress = (value: Address | undefined) => {
      if (!value) return;
      const { address, city, zip } = value as Address;
      return `${address}, ${zip} ${city}`;
    };
    const cartValues = computed<Card | null>(() => store.state.cartValues);
    onBeforeMount(() => {
      initialize();
    });

    return { cartValues, getAdress, getDate };
  },
});
</script>

<style lang="scss" scoped>
.card-container {
  display: flex;
  height: 300px;
  width: 98vw;
  margin: 0px auto;
  @media (max-width: 850px) {
    height: auto;
  }
}
</style>
